.notification {
    margin: 80px auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #3882F6;
    border-radius: 8px;
    color: #F9FAF8;
    padding: 36px 52px;
    width: 1000px;
}

.notification h2, .notification p {
    margin: 0;
    padding: 0;
}

.notification button {
    background-color: #3882F6;
    border-radius: 8px;
    border: 2px solid #F9FAF8;
    color: #F9FAF8;
    padding: 6px 32px;
    font-weight: bold;
}

.footer {
    text-align: center;
    padding: 24px;
    background-color: #1F2937;
    color: #F9FAF8;
}