.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px;
    background-color: #1F2937;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 824px;
    flex: auto;
}

.header .logo {
    font-size: 24px;
    color: #F9FAF8;
}

.header ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
    padding: 0;
    margin: 0;
}

a, .hero-text p {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.hero-content {
    display: flex;
    gap: 24px;
    margin: 64px 0;
    justify-content: center;
    align-items: center;
}

.hero-content img{
    height: auto;
    max-width: 400px;
    flex: 0 1 auto;
}

.hero-text{
    width: 400px;
    flex: 0 1 auto;
}

.hero-text h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin: 0;
}

.hero-button {
    background-color: #3882F6;
    border-radius: 8px;
    border: none;
    color: #F9FAF8;
    font-weight: bold;
    font-size: 18px;
    padding: 12px 48px;
}