.quote {
    background-color: #E5E7EB;
    padding-bottom: 36px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quote-text {
    margin: 96px 128px;
    font-size: 36px;
    font-weight: lighter;
    color: #1F2937;
    max-width: 900px;
}

.author {
    text-align: end;
    margin-right: 175px;
    margin-top: -80px;
    color: #1F2937;
    font-weight: bold;
    font-size: 18px;
    width: 900px;
}